@charset "utf-8";
/* CSS Document */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border: none;
	font: 14px/26px 'Quicksand', sans-serif;
	text-decoration: none;
}

/*--=========

Site structure

=========--*/
.fl {
	float:left;
}
.fr {
	float: right;
}
.wrapper {
	width: 1170px;
	margin: 0 auto;
}
.p1 {
	width: 570px;
	padding-left: 50px;
}
.h1 {
	width: 335px;
}
#specialty {
	height: 660px;
	margin-bottom: 90px;
}
#daily { 
	height: 740px;
}
.treats {
	width: 305px; 
}
.flavors {
	width: 230px;
	margin-left: 50px;
}
#nav {
	margin: 0 auto;
	width: 650px;
}
#contact {
	height: 1364px;
}
#treats {
	height: 840px;
	padding: 30px;
}

/*--=========

type

=========--*/
h1, h2, h3, h4, h5, h6, nav {
	text-transform: uppercase;
	text-align: center;
}
h2 {
	background-color: rgba(225, 206, 124, .5);
	width: 620px;
	height: 95px;
	-moz-border-radius: 33px;
	-o-border-radius: 33px;
	-ms-border-radius: 33px;
	-webkit-border-radius: 33px;
	border-radius: 33px;
}
#treats, #daily {
	text-align: center;
}
h2, h3 {
	font: 600 34px/46px 'Quicksand', sansserif;
	color: #E05067;
	padding-top: 50px;
}
h4 {
	font-weight: 600;
	color: #E05067;
}
h6 {
	font-weight: 600;
}
p, label, ul li {
	color: #702F1D;
}
/*--=========

Navigation

=========--*/
nav ul li{
	display: inline-block;
}
#id ul li:nth-child(odd){
	list-style-image: url(../img/cherry-bullet.png);
}
.foot {
	width: 200px; 
	margin-left: 40px;
}
#plcorderinfo {
	text-align: center;
	margin: 20px 0px 90px 0px;
}
/*--=========

button

=========--*/
.btn {
	padding: 10px 40px;
	text-align: center;
	background-color: #FFCE7C;
	border-radius: 30px;
	margin-top: 10px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}
.btn:hover {
	background-color: #379983;
}

/*--=========

nav

=========--*/
ul {
	list-style: none;
}
ul span {
	display: none;
}
ul a, ul li {
	display: inline-block;
}
ul a {
	width: 25px;
	height: 25px;
}
header ul li:nth-child(2), header ul li:nth-child(4), header ul li:nth-child(3), header ul li:last-child {
	margin-left: 80px;
}
nav li a{
	color: #E05067;
	margin-top: 20px
}
nav li a:hover {
	color: #59B7A2;
}
footer ul li:first-child a, ul li:last-child a {
	background: url(../img/icon-fb.png)no-repeat 0 0;
}
footer ul li:nth-child(2) a, ul li:last-child a {
	background: url(../img/icon-tumblr.png)0 0;
}
footer ul li:nth-child(3) a, ul li:last-child a {
	background: url(../img/icon-pinterest.png)0 0;
}
footer ul li:nth-child(4) a, ul li:last-child a {
	background: url(../img/icon-linkedin.png)0;
}
footer ul li:last-child a, ul li:last-child a {
	background: url(../img/icon-blog.png)no-repeat 0 0;
}
footer ul li a:hover {
	background-position: 0 -25px;
}
#mar1 {
	margin-left: 100px;
}
#footer {
	height: 350px;
	background-color: #379983;
}
footer p, #footer {
	color: #fff;
}
/*--=========

images

=========--*/
#hero {
	background: url(../img/img-hero.gif) no-repeat center;
	height: 507px;
}

.lghtblu {
	background-color: #B6ECE0;
}
#c1 {
	margin-right: 20px;
	margin-top: 100px;
}

/*--=========

Table

=========--*/
thead, tr:nth-child(2) {
	background-color: #379983;
}
tr:last-child {
	background-color: #379983;
}
tbody td, tfoot td {
	padding: 20px 60px;
}
table {
	margin: 0 auto;
	text-align: center;
}
th {
	padding: 20px 40px;
}
table {
    border-collapse: collapse;
	color: #fff;
	font-weight: 600;
}
fieldset, label {
	font: 20px;
	text-transform: uppercase;
}
#firstname, #lastname, #phonenumber, #email, textarea {
	display: block;
	text-align: left;
	height: 44px;
	margin: 10px 0px 5px 0px;
	background-color: #379983;
	padding: 22px 40px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	-ms-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	width: 470px;
}
textarea {
	height: 180px;
	width: 470px;
}
fieldset {
	margin-top: 25px;
}
form {
	margin-top: 150px;
}
/*--=========

structure

=========--*/
.row {
	overflow: auto;
}

